:root {
  --dark-mode-elements-blue: hsl(209, 23%, 22%);
  --dark-mode-background-blue: hsl(207, 26%, 17%);
  --light-mode-text-blue: hsl(200, 15%, 8%);
  --light-mode-input-gray: hsl(0, 0%, 52%);
  --light-mode-background-gray: hsl(0, 0%, 98%);
  --dark-mode-text-light-mode-elements-white: hsl(0, 0%, 100%);
  --homepage-items-font: 14px;
  --detail-page-font: 16px;
  --mobile-width: 375px;
  --desktop-widht: 1440px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  z-index: 0;
  overflow-x: hidden;
  color: var(--light-mode-text-blue);
  font-size: var(--homepage-items-font);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--light-mode-background-gray);
}

.element {
  background-color: var(--dark-mode-text-light-mode-elements-white);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
  padding: 15px 25px;
}

.color-theme {
  appearance: none;
  border: none;
  background-color: var(--dark-mode-text-light-mode-elements-white);
}

.container .main {
  padding: 0;
}

.main {
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.main .element {
  margin: 0 auto 30px;
}

.main .select {
  margin: 0 0 5px;
  align-self: flex-start;
  font-weight: 600;
}

.input {
  display: flex;
  width: 100%;
  height: 53px;
  color: var(--light-mode-input-gray);
}

.main .input {
  margin-bottom: 45px;
  margin-top: 9px;
  padding: 18px 28px;
}

.main .list {
  min-height: 40vh;
}

.input input {
  border-style: none;
  margin: 0 0 0 30px;
  opacity: 0.4;
}

.input svg {
  margin: 3px 0 0 10px;
}

.input input:focus {
  outline: none;
}

.select {
  position: relative;
  width: 228px;
}

.select-btn {
  height: 54px;
  display: flex;
  justify-content: space-between;
}

.select-btn > * {
  margin: 3px 0 0;
}

.select-btn svg {
  margin: 4px 0 0;
}

.select-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 58px;
  z-index: 5;
  padding: 10px 25px;
}

.select-modal {
  display: block;
}

.select-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.footer p {
  margin: auto;
}

.footer {
  border-radius: 0;
  box-shadow: none;
  height: 45px;
}

.header {
  height: 90px;
  border-radius: 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.1);
}

#filter {
  width: 100%;
}

#filter option {
  width: 100%;
  background-color: var(--dark-mode-text-light-mode-elements-white);
  appearance: none;
  border: none;
}

.main .country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 40px;
  margin: 0 35px 42px;
}

.main .country p,
.main .country h2 {
  padding: 5px 10px 5px 30px;
}
.main .country h2 {
  margin-bottom: 10px;
}

.country img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid hsl(0, 0%, 50%, 0.2);
  width: 100%;
  margin: 0 0 25px;
}

.medium-bold {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--dark-mode-text-light-mode-elements-white);
    background: var(--dark-mode-background-blue);
  }
}
